<div class="hidden" id="refresh" (click)="this.loadingState(true);refreshRocketInformation()"></div>
<div class="flex gap-x-4">
    <div class="flex flex-col gap-y-2 w-[450px]">
        <a class="flex bg-slate-100 hover:bg-slate-200 hover:bg-opacity-60 p-2 border border-slate-200 text-slate-800 cursor-pointer shadow-sm min-w-[450px]"
            *ngFor="let r of rockets" (click)="rocketSelected($event,r)">
            <div class="p-1 pl-1 pr-4">
                <span
                    class="material-icons align-text-top text-3xl 
                {{ r.status === 'launched' ? 'text-lime-600' : (r.status === 'deployed' ? 'text-cyan-600' : (r.status === 'failed' ? 'text-red-600' : (r.status === 'waiting' ? 'text-gray-500' : 'text-orange-500')))  }}">
                    {{ r.status === 'launched' ? 'rocket_launch' : 'rocket' }}
                </span>
            </div>
            <div class="flex flex-col w-full">
                <div class="font-semibold">{{ r.model }} <small class="text-slate-500">{{ r.id }}</small>
                    <span class="float-right text-xs flex font-normal mt-1">
                        Telemetry:&nbsp;<i
                            class="w-4 h-4 block rounded-full {{ r.telemetryConnection === true ? 'bg-lime-600' : 'bg-red-600' }}">&nbsp;</i>
                    </span>
                </div>
                <div class="text-xs grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 w-full mt-2">
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Altitude: (𝑚)<br>
                        {{ r.altitude ? r.altitude : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Speed: (𝑚/𝑠)<br>
                        {{ r.speed ? r.speed : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Acceleration: (𝑚/𝑠2)<br>
                        {{ r.acceleration ? r.acceleration : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Thrust: (𝑁)<br>
                        {{ r.thrust ? r.thrust : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Temperature: (℃)<br>
                        {{ r.temperature ? r.temperature : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50">Status:<br>
                        <span class="uppercase font-semibold">{{ r.status ? r.status : '-' }}</span>
                    </div>
                </div>

            </div>

        </a>
    </div>


    <div class="flex flex-col gap-y-2 w-full">

        <div *ngIf="weather?.precipitation">
            Temperature: {{ weather.temperature }}
            humidity: {{ weather.humidity }}
            Temperature: {{ weather.pressure }}
            Temperature: {{ weather.precipitation.probability }}
            Temperature: {{ weather.precipitation.rain }}
            Temperature: {{ weather.precipitation.snow }}
            Temperature: {{ weather.precipitation.sleet }}
            Temperature: {{ weather.precipitation.hail }}
            Time: {{ weather.time }}
            wind: {{ weather.wind.direction }}
            wind: {{ weather.wind.angle }}
            wind: {{ weather.wind.speed }}
        </div>


        <div *ngIf="rockets[selectedIndex]"
            class="flex bg-slate-100 p-3 py-5 border border-slate-200 text-slate-800 shadow-sm">
            <div class="p-1 pl-1 pr-4">
                <span
                    class="material-icons align-text-top text-3xl 
                {{ rockets[selectedIndex].status === 'launched' ? 'text-lime-600' : (rockets[selectedIndex].status === 'deployed' ? 'text-cyan-600' : (rockets[selectedIndex].status === 'failed' ? 'text-red-600' : (rockets[selectedIndex].status === 'waiting' ? 'text-gray-500' : 'text-orange-500')))  }}">
                    {{ rockets[selectedIndex].status === 'launched' ? 'rocket_launch' : 'rocket' }}
                </span>
            </div>
            <div class="flex flex-col w-full">
                <div class="font-semibold text-3xl mb-2">{{ rockets[selectedIndex].model }}
                    <small class="text-slate-500 text-sm">{{ rockets[selectedIndex].id }}</small>
                    <span class="text-xs flex font-normal mt-1">
                        Telemetry connection:&nbsp;<i
                            class="w-4 h-4 block rounded-full {{ rockets[selectedIndex].telemetryConnection === true ? 'bg-lime-600' : 'bg-red-600' }}">&nbsp;</i>
                    </span>
                </div>
                <div class="text-sm grid grid-cols-1 xl:grid-cols-3 gap-1 w-full mt-2">
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden"><b>Altitude:
                            (𝑚)</b><br>
                        {{ rockets[selectedIndex].altitude ? rockets[selectedIndex].altitude : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden"><b>Speed:
                            (𝑚/𝑠)</b><br>
                        {{ rockets[selectedIndex].speed ? rockets[selectedIndex].speed : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Acceleration: (𝑚/𝑠2)</b><br>
                        {{ rockets[selectedIndex].acceleration ? rockets[selectedIndex].acceleration : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden"><b>Thrust:
                            (𝑁)</b><br>
                        {{ rockets[selectedIndex].thrust ? rockets[selectedIndex].thrust : '-' }}</div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Temperature: (℃)</b><br> {{
                        rockets[selectedIndex].temperature ? rockets[selectedIndex].temperature : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Status:</b><br> {{ rockets[selectedIndex].status ? rockets[selectedIndex].status : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Payload:</b><br> {{ rockets[selectedIndex].payload.description ?
                        rockets[selectedIndex].payload.description : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden"><b>Payload
                            Weight:</b><br> {{ rockets[selectedIndex].payload.weight ?
                        rockets[selectedIndex].payload.weight : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Launched:</b><br> {{ rockets[selectedIndex].timestamps.launched ?
                        rockets[selectedIndex].timestamps.launched : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Deployed:</b><br> {{ rockets[selectedIndex].timestamps.deployed ?
                        rockets[selectedIndex].timestamps.deployed : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Failed:</b><br> {{ rockets[selectedIndex].timestamps.failed ?
                        rockets[selectedIndex].timestamps.failed : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Canceled:</b><br> {{ rockets[selectedIndex].timestamps.canceled ?
                        rockets[selectedIndex].timestamps.canceled : '-' }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Telemetry:</b><br> {{
                        rockets[selectedIndex].telemetry.host+':'+rockets[selectedIndex].telemetry.port }}
                    </div>
                    <div class="border border-slate-300 px-1 py-1 shadow-inner bg-slate-50 overflow-hidden">
                        <b>Mass:</b><br> {{ rockets[selectedIndex].mass ? rockets[selectedIndex].mass : '-' }}
                    </div>

                </div>

                <div class="mt-3 flex gap-x-3">
                    <button *ngIf="rockets[selectedIndex].status === 'waiting'"
                        class="py-2 px-8 bg-cyan-600 text-white rounded border border-cyan-500 hover:bg-opacity-75 font-semibold"
                        (click)="deployRocket(rockets[selectedIndex].id)">Deploy</button>
                    <button *ngIf="rockets[selectedIndex].status === 'deployed'"
                        class="py-2 px-8 bg-lime-600 text-white rounded border border-lime-500 hover:bg-opacity-75 font-semibold"
                        (click)="launchRocket(rockets[selectedIndex].id)">Launch</button>
                    <button *ngIf="rockets[selectedIndex].status === 'launched'"
                        class="py-2 px-8 bg-red-600 text-white rounded border border-red-500 hover:bg-opacity-75 font-semibold"
                        (click)="cancelLaunch(rockets[selectedIndex].id)">Cancel</button>
                </div>

            </div>

        </div>
    </div>
</div>